header {
    display: flex;
    justify-content: space-around;
    background-color: #F3E9F1;
}
  
header img{
    margin: auto;
    width: 20%;
}

.main-block{
    text-align: center;
    margin-bottom: 5%;
}

footer{  
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1024px){
    header img{
        width: 30%;
    }    
    
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 475px){
    header img{
        width: 40%;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
  
  

