h1 {
    text-align: center;
}
  
article{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ededef;
}
  
.imageTeddie{
    width: 30%;
    box-shadow: 0 0 7px #dddddd;
}

#product{
    width: 80%;
    background-color: bisque;
    display: flex;
    margin: auto;
}
#product img{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    width: 50%;
}

.product__info{
    margin-top: 5%;
}
