

header {
  display: flex;
  justify-content: space-around;
  background-color: #F3E9F1;
}

header img{
  width: 20%;
}

header a{
  font-size: 2.5em;
  color: gray;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.product{
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.teddies {
  width: 100%;
}

.teddies img {
  max-width: 40%;
  margin: auto;
  box-shadow: 0 0 7px #dddddd;
}
.shipping{
  height: 400px;
  background-color: #ededef;
  display: flex;
  margin: auto;
  margin-top: 5%;
  justify-content: space-between;
}


.shipping img{
  width: 15%;
}

.shipping div{
  margin: auto;
  width: 15%;
  text-align: center;
}

footer{  
  display: flex;
  justify-content: space-around;
}

