
/* ************************************************************* HEADER PARTS ************************************************************* */

header {
  display: flex;
  justify-content: space-around;
  background-color: #F3E9F1;
}

header img{
  width: 50%;
}

header a{
  font-size: 2.5em;
  color: gray;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
} 

.cart {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5%;
  background-color: royalblue;
  border-radius: 10px;
  text-align: center;
}

.cart a {
  color: #ffffff;
}

/* ************************************************************* MAIN PARTS ************************************************************* */

.shipping{
  height: 400px;
  background-color: #ededef;
  display: flex;
  margin: auto;
  margin-top: 5%;
  justify-content: space-between;
}

.shipping img{
  width: 30%;
}

.shipping div{
  margin: auto;
  width: 15%;
  text-align: center;
}
 /* ************************************************************* FOOTER PARTS ************************************************************* */

footer{  
  display: flex;
  justify-content: space-around;
}