
/* ************************************************************* HEADER PARTS ************************************************************* */

header {
  display: flex;
  justify-content: space-around;
  background-color: #F3E9F1;
}

header img{
  width: 50%;
}

header a{
  font-size: 2.5em;
  color: gray;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
} 

.cart {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5%;
  background-color: royalblue;
  border-radius: 10px;
  text-align: center;
}

.cart a {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.cart div{
  display: flex;
}
.cart p{
  margin-top: auto;
  margin-bottom: auto;
}

/* ************************************************************* MAIN PARTS ************************************************************* */

.shipping{
  height: 400px;
  background-color: #ededef;
  display: flex;
  margin: auto;
  margin-top: 5%;
  justify-content: space-between;
}

.shipping img{
  width: 30%;
}

.shipping div{
  margin: auto;
  width: 15%;
  text-align: center;
}
 /* ************************************************************* FOOTER PARTS ************************************************************* */

footer{  
  display: flex;
  justify-content: space-around;
}


/* ************************************************************* RESPONSIVE PARTS ************************************************************* */


/*-----RESPONSIVE SMARTPHONE-----
---------------------------------*/

@media screen and (max-width: 1024px){
  .cart i{
    display: none;
  }
  .cart div{
    display: flex;
    flex-direction: column;
  }
}

/*-----RESPONSIVE SMARTPHONE-----
---------------------------------*/

@media screen and (max-width: 475px){

  .cart i{
    display: none;
  }

  .cart a{
    display: flex;
    font-size: 1em;
    width: auto;
  }

  .cart span{
    margin: auto;
  }

  .shipping{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .shipping div{
    width: auto;
  }

  .shipping img{
    width: 10%;
  }

  footer{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}